
/* -------------------
    Fonts
------------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@500&display=swap');
/* -------------------
    Common style
------------------- */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* -------------------
    Header style
------------------- */
header{
    
    height: 475px;
    background: linear-gradient(45deg, #030E1F, #254A6B);
    width: 987px;
    margin: auto;
    /* display: flex;
    justify-content: center; */
    padding: 30px 61px 0px 0px ;
    margin-top: 30px;
    margin-bottom: 40px;
    border-radius: 22px;
    
    
    
}
.container-1{
    margin-left: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-child{
    width: 50%;
}

.header-image img{
    width: 100%;
    
    
}
.header-title .child-1{
    color: #dee9e1;
    font-size: 50px;
    line-height: 65px;
    font-weight: 500px;
    margin-bottom: 10px;
}

.header-title .child-2{
    color: rgb(152, 165, 177);
    font-size: 13px;
    width: 90%;
    margin-bottom: 36px;
   
    
}


.btn{
    color: #f8faf8;
    background: linear-gradient(45deg, rgb(141, 45, 7), orangered);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    
    
   
}
.btn:hover{
    background: white;
    border: 1px solid  #A80A05;
    color:  #A80A05;
    padding: 9px 19px;
}

.slides{
    display: flex;
    margin-top: 20px;
}
.slide{
    width: 40px;
    height: 40px;
    background: #1a3042;
    border-radius: 50%;
}
@keyframes margin {
    0%{
        background: #254A6B;
        

    }
    50%{
        background: linear-gradient(45deg, #030E1F, #254A6B);
        margin-left: 100px;
        
    }
    100%{
        background: #254A6B;
        
    }
}
.right-child{
    animation: margin 10s infinite ease-in-out alternate;
    animation-play-state: running;
}

/* ----------------------
 upcoming match style
---------------------- */
main{
    margin: auto;
}

.container-2{
    margin: auto;
    width: 1040px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
    
} 

.upcoming-match{
    width: 246px;
}
.button{
   
    background: #030E1F;
    padding: 20px 0px; 
    border-radius: 10px;
}
.upcoming-btn{
    background: white;
    padding: 10px 0px;
    text-align: center;
    border-radius: 10px;
    width: 200px;
    margin: 20px;
    
    
   
}

.upcoming-btn:active{
    background: red;
}

.upcoming-btn a{
    text-decoration: none;
    color: rgb(37, 36, 36);
}
.upcoming a{
    color: #f4f7f4;
}
.upcoming{
    background: #F04201;
}
/* ------------------------
    blogs style
------------------------ */


.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}
.blogs-item{
    border: 1px solid gainsboro;
    border-radius: 10px;
    width: 245px;
}
   
.blogs-item .tumbnail{
    width: 246px;
}
.blog{
    margin: 20px 15px;
}
.blog-child{
    display: flex;
    align-items: center;
    
}
.blog-icon{
    display: flex;
    align-items: center;
    margin-right: 20px;
    

}
.blog-icon img{
    width: 19px;
}
.small{
    font-size: 12px;
    margin-left: 5px;
}
.blog-btn{
    padding: 4px 9px;
    border-radius: 5px;
    border: 1.5px solid grey;
    text-decoration: none;
    color: rgb(37, 36, 36);
    font-size: 13px;
}

.blog-info{
    font-size: 15px;
    color: black;
}
.continer-4{
    width: 200px;
    margin: 20px auto;

}
.view-btn{
    margin:30px auto;
    display: none;
}
.view-btn a{
    text-decoration: none;
    color: whitesmoke;
    background: #224464;
    padding: 10px 60px;
    text-align: center;
}
/* -------------------------
    footer style
------------------------- */
footer{
    background: #224464;
    width: 100%;
    padding: 60px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.container-3{
    width: 80%;
    margin: auto;
}
#goal{
    color: rgb(241, 239, 239);
    font-size: 40px;
    text-align: center;
}
#hr{
    border: 1px solid rgb(5, 74, 114);
}
.contact-link{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-link a{
    text-decoration: none;
    color: rgb(165, 157, 157);
    
}
.contact a{
    margin: 35px 20px 0px;
}
.icon a{
   margin: 20px 10px;
}
.contact-link a:hover{
    text-decoration: underline;
}

/* -----------------------------
    smaratphone device
----------------------------- */
@media  screen and (max-width:576px) {
   header{
    height: 100%;
    width: 80%;

   }

    .container-1{
        margin-left: 50px;
        width: 55%;
        height: 80%;
        flex-direction: column;
    }
   .header-title{
    width: 100%;
    height: 50%;
   }
    .header-image{
        width: 100%;
        height: 100%;
    }
    main{
        display: flex;
        flex-direction: column;
        
    }
    .container-2{
        width: 90%;
        margin-left: 50px;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
   
    .button{
        background-color: white;
        border: 1px solid rgb(7, 6, 6);
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
    footer{
        width: 100%;
        
        
    }
    .contact{
           flex-direction: column; 
        }
    
}

/* -----------------------------
    tablet device
----------------------------- */

@media screen and (min-width:577px) and (max-width:900px) {
    
    header{
        width: 80%;
        height: 100%;
        margin: auto;
        padding: 0px;
        
    }
    main{
        width: 80%;
        overflow: hidden;
        margin: auto;
        padding: 0px;
    }    
    .container-1{
      width: 100%;
      margin-left: 40px;
       
    }
    .header-title{
        width: 40%;
        margin-right: 10px;
        font-size: 30px;
    }
    .header-image{
        height: 100%;
        width: 100%;
        margin: 300px 20px 0px 60px;
    }
   
    .container-2{
        width: 100%;
        margin: auto;
        margin-left: 0px;
        padding: 0px;
        
        
        
        width: 50%;
        grid-template-columns: repeat(1, 2fr);
    }

.button{
    background: white;
    display: flex;
    width: 100%;
    
}
.blogs{
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}
.thumbnail{
    width: 100%;
}
.upcoming-match{
    width: 100%;
}
  footer{
    overflow: hidden;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-top: 100px;
  } 
  .view-btn{
    display: block;
  } 
    
}